


#search-form {
    float: right;
    font-size: 30px;
}

body {
background-image: url("../images/bulldog.jpg");
margin: 80px;
}

.search-item {
    display: inline;
    background-size: 20px;
}

.classToAdd{
    color:white;
    background-color: rgb(8, 76, 128);
    font-size: 20px;
    border-radius: 3px;
    display: inline-block;
    font-family: cursive;
    margin: 3px;
    
}
#buttonsArea {
size: 10px;
align-items: center;
margin-top: 3em;
margin-bottom: 3em;
margin-left: 1em;
margin-right: 1em;
}
.header{
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
}
label {
    color: rgb(255, 255, 255);
}
#addSearch{

background-color: rgba(8, 76, 128);
font-size: 20px;
color: white;
font-family: cursive;
}
button.searchButton {
margin-left: 0.5em;
}
img.searchImage{
margin-left: 1em;
}

img.searchImage {
    margin-left: 1em;
    margin: 10px;
    border: solid white;
    height: 150px;
}




